<ul>
  <li *ngFor="let v of videoList" [class.selected]="selectedId === v.id">
    <a routerLink="" [queryParams]="{videoId: v.id}"
      ><app-video-list-item [video]="v"></app-video-list-item>
    </a>
  </li>
</ul>
