<ng-container *ngIf="(videos | async) as videoList; else loading">
    <div>
    <button (click)="refreshVideos()"> Refresh Buttons </button>
    <app-video-list
      [videoList]="videoList"
    ></app-video-list>
  </div>
  <app-video-player [video]="selectedVideo | async"></app-video-player>
  <app-stat-filters (filterChanged)="setFilter($event)"></app-stat-filters>
</ng-container>
<ng-template #loading>
  Loading Videos...
</ng-template>
